# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Testing & Type-checking
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Operating System files
.DS_Store
Thumbs.db
